<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Caveat:wght@500&display=swap"
        rel="stylesheet">

    <!-- Styling for the Skill Boxes -->
    <style>
        .box-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .box {
            width: 150px;
            height: 150px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
            padding: 20px;
            margin: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
            background: linear-gradient(to bottom right, #d3d3d3, #b0e0e6);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .box:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .box img {
            width: 55%;
            height: auto;
            margin-bottom: 10px;
        }

        .box p {
            font-weight: bold;
        }
    </style>



    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function toggleIframe() {
            var iframeContainer = document.getElementById('iframeContainer');
            if (iframeContainer.classList.contains('hidden')) {
                iframeContainer.classList.remove('hidden');
            } else {
                iframeContainer.classList.add('hidden');
            }
        }
    </script>
</head>

<body class="bg-white text-black">

    <!-- Enter HEADER -->

    <header class="flex justify-center py-6 bg-gray-800 shadow">
        <nav>
            <ul class="flex space-x-6">
                <li><a href="https://github.com/BMcGinn-Dev" class="text-blue-400 hover:text-blue-600">GitHub</a></li>
                <p style="color: white;"> | </p>
                <li><a href="https://www.linkedin.com/in/benjamin-mcginn/"
                        class="text-blue-400 hover:text-blue-600">LinkedIn</a></li>
                <p style="color: white;"> | </p>
                <li><a href="static\documents\Benjamin McGinn Resume.pdf"
                        class="text-blue-400 hover:text-blue-600">Resume</a></li>
            </ul>
        </nav>
    </header>



    <main class="container mx-auto mt-10">

        <!-- Summary -->
        <div class="flex items-start space-x-6 p-6 bg-gray-800 rounded-lg shadow-md">
            <div class="flex-shrink-0">
                <div class="w-40 h-40 bg-gray-700 p-2 rounded-full overflow-hidden shadow-md">
                    <img src="static\images\WeddingHeadshot.PNG" alt="Profile Picture"
                        class="w-full h-full object-cover rounded-full">
                </div>
            </div>
            <div class="w-4/5">
                <div class="bg-gray-700 p-6 rounded-lg shadow-md">
                    <h2 class="text-xl font-bold mb-2" style="color: white;">Benjamin McGinn &nbsp; | &nbsp; Data
                        Engineer</h2>
                    <p class="text-sm text-gray-300 leading-snug">
                        Motivated and resourceful aspiring Solution Architect/Data Engineer with an MS in Management
                        Information Systems and over 2 Years of Experience creating, optimizing, and maintaining data
                        pipelines. Eager to leverage cutting-edge technologies to bridge the gap between data and
                        actionable insights. Proficient in data engineering, analysis, and visualization, with a strong
                        understanding of business processes and best practices. Possesses excellent communication and
                        collaboration skills, driving cross-functional teams towards data-driven success.
                    </p>
                </div>
            </div>
        </div>


        <!-- HORIZONTAL BAR !!! -->
        <div style="position: relative; width: 100%; padding: 40px 0;">
            <hr style="position: relative; border: none; height: 5px; background-color: black; margin: 0 30px;">
        </div>




        <!-- Courtney Section 
        <button class="mt-4 bg-indigo-500 text-white py-2 px-4 rounded" onclick="toggleIframe()">Expand to see me and my
            Wife :D </button>

        <div id="iframeContainer" class="hidden mt-4">
            <img src="static\images\Courtney.PNG" style="max-width: 700px; max-height: 700px;">
        </div> -->

        <!-- End Summary and Profile Pic -->



        <!-- Timeline header-->
        <div style="text-align: center; margin-top: 10px; margin-bottom: 6px;">
            <h2 class="text-3xl font-bold text-indigo-500">Favorite Tools</h2>
        </div>

        <!-- ENTER Floating Skill Tree -->
        <div class="box-container">
            <div class="box">
                <img src="static\images\PythonLogo.png" alt="Python Logo">
                <p>Python</p>
            </div>
            <div class="box">
                <img src="static\images\SQL Logo.png" alt="SQL Logo">
                <p>SQL</p>
            </div>
            <div class="box">
                <img src="static\images\AWS Logo.png" alt="AWS Logo">
                <p>AWS</p>
            </div>
            <div class="box">
                <img src="static\images\KafkaLogo.png" alt="Kafka Logo">
                <p>Kafka</p>
            </div>
            <div class="box">
                <img src="static\images\DataBricks logo.png" alt="Databricks Logo">
                <p>Databricks</p>
            </div>
            <div class="box">
                <img src="static\images\Apache Airflow.png" alt="Airflow Logo">
                <p>Airflow</p>
            </div>
        </div>
        <!-- END Floating Skill Tree -->




        <!-- ENTER TIMELINE -->
        <div class="-my-6" style="margin-top: 50px;">

            <div style="text-align: left; margin-top: 10px; margin-bottom: 6px;">
                <h2 class="text-3xl font-bold text-indigo-500" style="text-decoration: underline;">Career Timeline</h2>
            </div>

            <!-- HCA Internship -->
            <div class="relative pl-8 sm:pl-32 py-6 group">

                <!-- Purple label -->

                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">

                    Application Engineer Intern </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        May,
                        2021 </time> <img src="static\images\HCA Logo.jpg" alt="HCA Logo" class="w-14 h-14 mr-4">

                    <div class="text-xl font-bold text-slate-900">HCA Healthcare</div>

                </div>

                <!-- Content -->
                <div class="text-slate-500"> My first domestic summer internship came in the COVID summer of 2021 with
                    HCA Healthcare.
                    I was placed on their application development team as an intern tasked with debugging numerous
                    issues around their internal patient acccess management tool "PAMExpress". It was alot of fun & I
                    contributed to some very success projects while working in my first fully-agile environment.
                    With them knowing I was one semester away from graduation, at the end of the internship I received
                    an offer to continue working throughout my final graduate semester and move to Nasvhille, TN to
                    begin full-time upon graduation.
                    I accepted this and worked up until November 2021 when, unfortunately due to a personal family
                    tragedy, I had to deny their full time offer and return to Chicago, IL. I am extremely thankful for
                    my time with HCA Healthcare and genuinely enjoyed my time with the company and team.
                </div>
            </div>


            <!-- University of Alabama -->
            <div class="relative pl-8 sm:pl-32 py-6 group">

                <!-- Purple label -->

                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">

                    M.S. Management Information Systems | B.S. Management Information Systems </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        DEC,
                        2021 </time> <img src="static\images\ScriptA.jpg" alt="Alabama Script A" class="w-14 h-14 mr-4">

                    <div class="text-xl font-bold text-slate-900">The Unversity of Alabama</div>

                </div>

                <!-- Content -->
                <div class="text-slate-500">Graduated Magna Cum Laude (3.8/4.0) from the Manderson Graduate School of
                    Business. Pioneer of the newly founded A.M.P. to MIS program which allowed me to received both my
                    Bachelor's & Master's within 4.5 years.
                    Recipient of Presidential Scholarship (Full Ride). Studied under Dr. Nikolas Freeman as a Grauduate
                    Student research assistant with a focus on scraping & analyzing financil data from the U.S.
                    Securities and Exchange Commision. Recipient of the Culverhouse C.O.B. Faculty Scholars Graduate
                    Honors Award, which was awarded to outstanding student faculty research projects.
                    Completed graduate Whitepaper, "Gambling Our Future: An Analysis on Cryptocurrency Casinos and Youth
                    Addiction".
                </div>
            </div>

            <!-- BMO Harris -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">

                    Junior Solution Architect </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        March,2022</time><img src="static\images\BMO Logo.png" alt="Alabama Script A"
                        class="w-14 h-14 mr-4">
                    <div class="text-xl font-bold text-slate-900">Bank of Montreal (BMO)
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Originally hired on as a back-end API software developer, within one week of
                    my first post-grad role BMO acquired California-native Bank of the West.
                    After the acquistion was announced, my role became more akin to that of a solution architect/data
                    engineer as we undertook numerous projects with the goal of getting massive
                    amount of BotW's data from their cloud and on-prem servers to our multiple data stores. We worked
                    nearly entirely in Amazon Web Services (Redshift, S3, Lambda, etc.) in tangent with
                    other popular data tools & languages like Python, SQL, PySpark, Apache Airflow, Hadoop, and many
                    more. This unforseen role change, although extremely challenging, was a blessing in disguise
                    as it specifically ignited my desire to pursue my career in data engineering!
                </div>
            </div>


            <!-- PCEP -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">

                    Entry-Level Python Programmer Certificate </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        DEC,2022</time><img src="static\images\PCEP badge.png" alt="Alabama Script A"
                        class="w-14 h-14 mr-4">
                    <div class="text-xl font-bold text-slate-900">Python Institute | PCEP-30-02
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Successfully passed the entry-level proficiency certification in Python
                    programming language.
                    <ul class="list-none pl-5">
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Computer Programming and Python Fundamentals</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Control Flow - Conditional Blocks and Loops</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Data Collections - Lists, Tuples, Dictionaries, and Strings</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Functions and Exceptions</li>
                    </ul>
                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-md max-w-lg">
                        <div class="text-left">
                            <span class="font-bold">Issue Date:</span> <span>December 20, 2022

                            </span>
                        </div>
                    </div>
                    <p>Verify Credential <a href="verify.openedg.org" class="text-blue-400 hover:text-blue-600">HERE</a>
                        with code: <strong>isDF.bjfV.Jwxk</strong></p>
                </div>
            </div>


            <!-- PCAP -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">
                    Associate in Python Programming Certificate </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        APRIL,2023</time><img src="static\images\PCAP Badge.png" alt="Alabama Script A"
                        class="w-14 h-14 mr-4">
                    <div class="text-xl font-bold text-slate-900">Python Institute | PCAP-31-03
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Successfully passed the entry-level proficiency certification in Python
                    programming language.
                    <ul class="list-none pl-5">
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Modules and Packages</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Exceptions</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Strings</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Object-Oriented Programming</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Miscellaneous (List Comprehensions, Lambdas, Closures, and I/O Operations)</li>
                    </ul>
                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-md max-w-lg">
                        <div class="text-left">
                            <span class="font-bold">Issue Date:</span> <span>April 7, 2023

                            </span>
                        </div>
                    </div>
                    <p>Verify Credential <a href="verify.openedg.org" class="text-blue-400 hover:text-blue-600">HERE</a>
                        with code: <strong>YHnY.c9uK.RXyr
                        </strong></p>
                </div>
            </div>


            <!-- AWS CCP -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">
                    AWS Certified Cloud Practitioner </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        DEC,2023</time><img src="static\images\AWS CCP Badge.png" alt="Alabama Script A"
                        class="w-16 h-16 mr-4">
                    <div class="text-xl font-bold text-slate-900">Amazon Web Services
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">The AWS Certified Cloud Practitioner validates foundational, high-level
                    understanding of AWS Cloud, services, and terminology. This is a good starting point on the AWS
                    Certification journey for individuals with no prior IT or cloud experience switching to a cloud
                    career or for line-of-business employees looking for foundational cloud literacy.

                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-md max-w-lg">
                        <div class="text-left">
                            <span class="font-bold">Issue Date:</span> <span>Dec 10, 2023
                            </span>
                        </div>
                        <div class="text-right ml-auto">
                            <span class="font-bold">Expiration Date:</span> <span>Dec 10, 2026 </span>
                        </div>
                    </div>


                    <p>Verify Credential <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential"
                            class="text-blue-400 hover:text-blue-600">HERE</a>
                        with Validation Number: <strong>PKT8DQ1DY1BE175Y
                        </strong></p>
                </div>

            </div>


            <!-- AWS SSA -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">
                    AWS Certified Solutions Architect - Associate </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        FEB,2023</time><img src="static\images\AWS SSA-03 Badge.png" alt="Alabama Script A"
                        class="w-16 h-16 mr-4">
                    <div class="text-xl font-bold text-slate-900">Amazon Web Services
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">AWS Certified Solutions Architect - Associate showcases knowledge and skills
                    in AWS technology, across a wide range of AWS services. The focus of this certification is on the
                    design of cost and performance optimized solutions, demonstrating a strong understanding of the AWS
                    Well-Architected Framework. This certification can enhance the career profile and earnings of
                    certified individuals and increase your credibility and confidence in stakeholder and customer
                    interactions.

                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-md max-w-lg">
                        <div class="text-left">
                            <span class="font-bold">Issue Date:</span> <span>Feb 16, 2024
                            </span>
                        </div>
                        <div class="text-right ml-auto">
                            <span class="font-bold">Expiration Date:</span> <span>Feb 16, 2027
                            </span>
                        </div>
                    </div>

                    <p>Verify Credential <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential"
                            class="text-blue-400 hover:text-blue-600">HERE</a>
                        with Validation Number: <strong>562211ecef7e455bb57bea18a4887011
                        </strong></p>
                </div>
            </div>

            <!-- Laid Off -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        March,2024</time>
                    <div class="text-xl font-bold text-slate-900">Laid Off | Bank of Montreal
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Sadly, after (almost exactly) 2 years at the Bank of Montreal, I was
                    relieved of my position on BMO's US Solution Architecture team. This came as a moderate suprise.
                    BMO had successfully completed the acquistion of Bank of the West which was, at the time, the
                    largest banking acquistion of the decade. Ranging from internal API development to full lifecycle
                    ETL & ELT data pipelines,
                    for myself and many others, working towards a successful conversion was the bulk of our projects. I
                    was included in what was one of many waves of lay offs & have been reassured it was not a personal
                    nor performance based release.
                    I am grateful for my 2 years at the Bank of Montreal, and moreover, extremely thankful to the great
                    teammates and leaders who taught me so much at my first post-grad role!

                </div>
            </div>

            <!-- Databricks DEA -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">Databricks Certified Data
                    Engineer Associate</div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        FEB,2023</time><img src="static\images\DataBricksDEA Badge.png" alt="Databricks DEA Badge"
                        style="width: 100px; height: 100px;" class="mr-5">
                    <div class="text-xl font-bold text-slate-900"> Databricks Academy
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">The Databricks Certified Data Engineer Associate certification exam assesses
                    an individual’s ability to use the Databricks Lakehouse Platform to complete introductory data
                    engineering tasks. This includes an understanding of the Lakehouse Platform and its workspace, its
                    architecture, and its capabilities. It also assesses the ability to perform multi-hop architecture
                    ETL tasks using Apache Spark™ SQL and Python in both batch and incrementally processed paradigms.
                    Finally, the exam assesses the tester’s ability to put basic ETL pipelines and Databricks SQL
                    queries and dashboards into production while maintaining entity permissions. Individuals who pass
                    this certification exam can be expected to complete basic data engineering tasks using Databricks
                    and its associated tools.

                    <ul class="list-none pl-5">
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Databricks Lakehouse Platform</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            ELT With Spark SQL and Python</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Incremental Data Processing</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Production Pipelines</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Data Governance</li>
                    </ul>

                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-md max-w-lg">
                        <div class="text-left">
                            <span class="font-bold">Issue Date:</span> <span>May 4, 2024
                            </span>
                        </div>
                        <div class="text-right ml-auto">
                            <span class="font-bold">Expiration Date:</span> <span>May 4, 2026
                            </span>
                        </div>
                    </div>

                    <p>Verify All Databricks Credentials <a
                            href="https://credentials.databricks.com/profile/benjaminmcginn61106/wallet#gs.bijegf"
                            class="text-blue-400 hover:text-blue-600">HERE</a>
                    </p>


                </div>
            </div>

            <!-- United States Postal Service -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">

                    Software Architect II </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        September,2024</time><img src="static\images\USPSLogo.png" alt="USPS Logo"
                        class="w-14 h-14 mr-4">
                    <div class="text-xl font-bold text-slate-900">United States Postal Service
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500"> Afer some time job searching,
                    I decided to persue the public sector and took on a role with the United States Postal Service.
                    I was very happy to land an opportunity under Finance & Payment Tech Services as a Software
                    Architect II.
                    Here I am furthering my expertise of large-scale software and data architecture within the financial
                    sector.
                    My role includes design, orchestration, and development of financial application integrations and
                    improvements
                    as well as sitting in a management position on project timelines for 5 individual application teams.

                </div>
            </div>

            <!-- AWS DEA -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">AWS Certified Data Engineer
                    Associate</div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">
                        FEB,2023</time><img src="static\images\AWS DEA Cert.png" alt="AWS DEA Badge"
                        style="width: 100px; height: 100px;" class="mr-5">
                    <div class="text-xl font-bold text-slate-900"> Amazon Web Services
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">AWS Certified Data Engineer - Associate validates skills and knowledge in
                    core data-related AWS services, ability to ingest and transform data, orchestrate data pipelines
                    while applying programming concepts, design data models, manage data life cycles, and ensure data
                    quality.

                    <ul class="list-none pl-5">
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Data Ingestion and Transformation</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Data Store Management</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Data Operations and Support</li>
                        <li
                            class="relative pl-4 before:content-['♦'] before:absolute before:left-0 before:text-indigo-500">
                            Data Security and Governance</li>
                    </ul>

                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-md max-w-lg">
                        <div class="text-left">
                            <span class="font-bold">Issue Date:</span> <span>October 18, 2024
                            </span>
                        </div>
                        <div class="text-right ml-auto">
                            <span class="font-bold">Expiration Date:</span> <span>October 18, 2027
                            </span>
                        </div>
                    </div>

                    <p>Verify Credential <a href="static\documents\AWS Certified Data Engineer - Associate.pdf"
                            class="text-blue-400 hover:text-blue-600">HERE</a></p>


                </div>
            </div>



        </div>


        </div>
        <!-- END TIMELINE-->



        <!-- HORIZONTAL BAR !!! -->
        <div style="position: relative; width: 100%; padding: 40px 0;">
            <hr style="position: relative; border: none; height: 5px; background-color: black; margin: 0 30px;">
        </div>


        <!-- Begin Projects Section -->
        <div class="mt-10">

            <!-- Section Title -->
            <h2 class="text-2xl font-bold text-center mb-6" style="color: rgb(94, 173, 199);">
                Personal Projects
            </h2>

            <!-- Projects List -->
            <ul class="space-y-6">

                <!-- Example Project -->
                <li class="bg-gray-700 p-4 rounded shadow">
                    <button onclick="toggleDetails(this)" class="w-full text-left flex items-center justify-between">
                        <div>
                            <h3 class="text-lg font-bold" style="color: rgb(94, 173, 199);">
                                Algorithmic NFL Spread Selector
                            </h3>
                            <a href="https://www.roachfinder.com" target="_blank" rel="noopener noreferrer"
                                class="text-sm text-lightblue">
                                Visit Project Website
                            </a>
                        </div>
                        <span class="text-white">&#9662;</span> <!-- Down arrow -->
                    </button>
                    <div class="mt-4 hidden">
                        <p style="color: white;">Nicknamed the "RoachFinder", this live web app scrapes data from
                            various sources to feed an algorithm of my own creation to output a NFL game "spread" which
                            is
                            placed on major sportsbooks. Last year, it reported a season-long accuracy rating of 55.098%
                            which, even when accounting for sportsbooks standard rake of -110 odds, correlates to a
                            $2390.89 profit at season end. I have kept all the code for this private, but will provide a
                            public Github to those interested.
                        </p>
                        <a href="static/images/RoachFinderProcessFlow.png" target="_blank" rel="noopener noreferrer">
                            <img src="static/images/RoachFinderProcessFlow.png" alt="RoachFinder Process"
                                style="width: 100%; height: auto; margin-top: 16px; border-radius: 8px;">

                        </a>
                    </div>
                </li>

                <!-- Another Project -->
                <li class="bg-gray-700 p-4 rounded shadow">
                    <button onclick="toggleDetails(this)" class="w-full text-left flex items-center justify-between">
                        <div>
                            <h3 class="text-lg font-bold" style="color: rgb(94, 173, 199);">
                                "ClipSmash" YouTube Short Video Creator
                            </h3>
                            <a href="https://github.com/BMcGinn-Dev/DualVideoContentCreationEngine" target="_blank"
                                rel="noopener noreferrer" class="text-sm text-lightblue">
                                View Code on GitHub
                            </a>
                        </div>
                        <span class="text-white">&#9662;</span> <!-- Down arrow -->
                    </button>
                    <div class="mt-4 hidden">
                        <p style="color: white;">ClipSmash program intended to create numerous videos that people
                            fill YouTube Shorts with. Script written in Python that takes in 2 videos & creates an
                            entirely new video based upon the inputs provided. Program uses AI to detect subtitles,
                            MoviePy to create clips, and various other libraries for processing. <br> <br>For better
                            viewing click on the process flow image to be directed to the Google Draw page. <br> <br>

                        </p>

                        <div style="display: flex; align-items: flex-start; gap: 16px;">
                            <!-- Link with Image -->
                            <a href="https://docs.google.com/drawings/d/1GgKKW-7hTp63YCkA0zw9YbIvVyI5xfGA00IDcmIeVsE/edit?usp=sharing"
                                target="_blank" rel="noopener noreferrer" style="flex: 7;">
                                <img src="static/images/ClipSmash Process Flow.png" alt="RoachFinder Process"
                                    style="width: 100%; height: auto; border-radius: 7px;">
                            </a>

                            <!-- Video Element -->
                            <div style="flex: 3;">
                                <video width="100%" height="auto" controls style="border-radius: 7px;">
                                    <source src="static/images/Grilled Cheese Deluxe 1.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>






                    </div>
                </li>

                <!-- More Projects -->
                <li class="bg-gray-700 p-4 rounded shadow">
                    <button onclick="toggleDetails(this)" class="w-full text-left flex items-center justify-between">
                        <div>
                            <h3 class="text-lg font-bold" style="color: rgb(94, 173, 199);">
                                More Projects Coming Soon!
                            </h3>
                            <a href="https://example.com" target="_blank" rel="noopener noreferrer"
                                class="text-sm text-lightblue">
                                Placeholder Link
                            </a>
                        </div>
                        <span class="text-white">&#9662;</span> <!-- Down arrow -->
                    </button>
                    <div class="mt-4 hidden">
                        <p style="color: white;">I have worked on many projects in the past, the issue is many were for
                            personal use of myself or a friend. I need time to convert those to no longer contain their
                            private information. I also am working on many more data engineering projects. Currently
                            working on one to demonstrate deep understanding of Kafka and Apache Airflow.
                        </p>
                        <a href="static/images/LoadingLogo.jpg" target="_blank" rel="noopener noreferrer">
                            <img src="static/images/LoadingLogo.jpg" alt="Placeholder Image"
                                class="w-32 h-auto mt-4 rounded">
                        </a>
                    </div>
                </li>

            </ul>
        </div>

        <!-- JavaScript for dropdown -->
        <script>
            function toggleDetails(button) {
                // Get the next sibling element (the dropdown content)
                const details = button.nextElementSibling;
                // Get the span element inside the button (the arrow)
                const arrow = button.querySelector('span');

                // Toggle the hidden class on the dropdown content
                details.classList.toggle('hidden');

                // Change the arrow direction
                if (details.classList.contains('hidden')) {
                    arrow.innerHTML = '&#9662;'; // Down arrow
                } else {
                    arrow.innerHTML = '&#9652;'; // Up arrow
                }
            }
        </script>





    </main>


    <!-- ENTER FOOTER !-->
    <footer class="bg-gray-800 text-white py-8 px-12 mt-12">
        <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
            <div class="mb-4 sm:mb-0">
                <h4 class="text-lg font-semibold">Contact Me (this will be a contact form soon)</h4>
            </div>
            <div class="flex flex-col sm:flex-row items-center">
                <div class="flex items-center mb-2 sm:mb-0 sm:mr-4">
                    <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M2 2h20v20H2V2zm2 18h16V4H4v16zm8-9h2V8h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2zm-4-5h2v-3H8v3zm0 2h2v3H8v-3zm0 3h2v2H8v-2zm-4-5h2v-3H4v3zm0 2h2v3H4v-3zm0 3h2v2H4v-2zm12-5h2v-3h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2zm4-5h2v-3h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2z" />
                    </svg>
                    <span>benmcginn22@gmail.com</span>
                </div>
                <div class="flex items-center mb-2 sm:mb-0 sm:mr-4">
                    <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M2 2h20v20H2V2zm2 18h16V4H4v16zm8-9h2V8h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2zm-4-5h2v-3H8v3zm0 2h2v3H8v-3zm0 3h2v2H8v-2zm-4-5h2v-3H4v3zm0 2h2v3H4v-3zm0 3h2v2H4v-2zm12-5h2v-3h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2zm4-5h2v-3h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2z" />
                    </svg>
                    <span>(815) 641-0251</span>
                </div>
                <div class="flex items-center">
                    <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M2 2h20v20H2V2zm2 18h16V4H4v16zm8-9h2V8h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2zm-4-5h2v-3H8v3zm0 2h2v3H8v-3zm0 3h2v2H8v-2zm-4-5h2v-3H4v3zm0 2h2v3H4v-3zm0 3h2v2H4v-2zm12-5h2v-3h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2zm4-5h2v-3h-2v3zm0 2h2v3h-2v-3zm0 3h2v2h-2v-2z" />
                    </svg>
                    <span>Chicago, IL</span>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>