<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Caveat:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white text-black">

    <header class="flex justify-center py-6 bg-gray-800 shadow">
        <nav>
            <ul class="flex space-x-6">
                <li><a href="#" class="text-blue-400 hover:text-blue-600">GitHub</a></li>
                <li><a href="#" class="text-blue-400 hover:text-blue-600">LinkedIn</a></li>
            </ul>
        </nav>
    </header>



    <main class="container mx-auto mt-10">

        <!-- Summary and Profile Pic -->
        <div class="flex items-start space-x-6 p-6 bg-gray-800 rounded-lg shadow-md">
            <div class="flex-shrink-0">
                <div class="w-32 h-32 bg-gray-700 p-2 rounded-full overflow-hidden shadow-md">
                    <img src="https://via.placeholder.com/150" alt="Profile Picture"
                        class="w-full h-full object-cover rounded-full">
                </div>
            </div>
            <div class="w-4/5">
                <div class="bg-gray-700 p-6 rounded-lg shadow-md">
                    <h2 class="text-xl font-bold mb-2">Benjamin McGinn &nbsp; &nbsp; | &nbsp; &nbsp; Data Engineer</h2>
                    <p class="text-sm text-gray-300 leading-snug">
                        Motivated and resourceful aspiring Solution Architect/Data Engineer with an MS in Management
                        Information Systems and over 2 Years of Experience creating, optimizing, and maintaining data
                        pipelines. Eager to leverage cutting-edge technologies to bridge the gap between data and
                        actionable insights. Proficient in data engineering, analysis, and visualization, with a strong
                        understanding of business processes and best practices. Possesses excellent communication and
                        collaboration skills, driving cross-functional teams towards data-driven success.
                    </p>
                </div>
            </div>
        </div>


        <!-- HORIZONTAL BAR !!! -->
        <div style="position: relative; width: 100%; padding: 40px 0;">
            <hr style="position: relative; border: none; height: 5px; background-color: black; margin: 0 30px;">
        </div>




        <!-- ENTER TIMELINE -->
        <div class="-my-6">


            <!-- Item #1 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">The origin</div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">May,
                        2020</time>
                    <div class="text-xl font-bold text-slate-900">Acme was founded in Milan, Italy</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa.
                    Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</div>
            </div>

            <!-- Item #2 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">The milestone</div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">May,
                        2021</time>
                    <div class="text-xl font-bold text-slate-900">Reached 5K customers</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa.
                    Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</div>
            </div>

            <!-- Item #3 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">The acquisitions</div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">May,
                        2022</time>
                    <div class="text-xl font-bold text-slate-900">Acquired various companies, inluding Technology Inc.
                    </div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa.
                    Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</div>
            </div>

            <!-- Item #4 -->
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">The IPO</div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div
                    class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time
                        class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">May,
                        2023</time>
                    <div class="text-xl font-bold text-slate-900">Acme went public at the New York Stock Exchange</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa.
                    Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</div>
            </div>

        </div>



        <!-- HORIZONTAL BAR !!! -->
        <div style="position: relative; width: 100%; padding: 40px 0;">
            <hr style="position: relative; border: none; height: 5px; background-color: black; margin: 0 30px;">
        </div>






























        <!-- Begin Projects -->
        <div class="grid grid-cols-2 gap-8 mt-10">
            <div class="bg-gray-700 p-4 rounded shadow flex">
                <a href="https://www.roachfinder.com" target="_blank" rel="noopener noreferrer"
                    class="w-1/3 rounded mr-4">
                    <img src="https://via.placeholder.com/150" alt="Project Image" class="w-full h-full rounded">
                </a>
                <div class="w-2/3">
                    <h3 class="text-lg font-bold">Algorithmic NFL Spread Selector</h3>
                    <p>Named as the "RoachFinder", this live web app scrapes data from various sources to feed an
                        algorithm of my own creation to output a NFL game "spread" which is placed on major sportsbooks.
                        Last year, it reported a season-long accuracy rating of 55.098% which, even when accounting for
                        sportsbooks standard rake of -110 odds, correlates to a $2390.89 profit at season end.
                    </p>
                </div>
            </div>
            <div class="bg-gray-700 p-4 rounded shadow flex">
                <a href="https://example.com" target="_blank" rel="noopener noreferrer" class="w-1/3 rounded mr-4">
                    <img src="https://via.placeholder.com/150" alt="Project Image" class="w-full h-full rounded">
                </a>
                <div class="w-2/3">
                    <h3 class="text-lg font-bold">Video Crop & Merge Program</h3>
                    <p>Script written in Python that takes in 2 videos & creates an entirely new video based upon the
                        inputs provided. Program uses AI to detect subtitles, MoviePy to create clips, and various other
                        libraries for processing. Please watch the example video in the README if confused, I have also
                        attached the full process flowchart <a href="https://www.roachfinder.com">HERE</a>.</p>
                </div>
            </div>
            <div class="bg-gray-700 p-4 rounded shadow flex">
                <a href="https://example.com" target="_blank" rel="noopener noreferrer" class="w-1/3 rounded mr-4">
                    <img src="https://via.placeholder.com/150" alt="Project Image" class="w-full h-full rounded">
                </a>
                <div class="w-2/3">
                    <h3 class="text-lg font-bold">Project Summary 2</h3>
                    <p>Project details go here...</p>
                </div>
            </div>
            <div class="bg-gray-700 p-4 rounded shadow flex">
                <a href="https://example.com" target="_blank" rel="noopener noreferrer" class="w-1/3 rounded mr-4">
                    <img src="https://via.placeholder.com/150" alt="Project Image" class="w-full h-full rounded">
                </a>
                <div class="w-2/3">
                    <h3 class="text-lg font-bold">Project Summary 3</h3>
                    <p>Project details go here...</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>